{% extends 'base.html' %}

{% block title %}Fridge Details{% endblock %}

{% block content %}
    <h1>{{ fridge.brand }} - {{ fridge.model }}</h1>
    <p>Price: {{ fridge.price }}$</p>
    <p>Capacity: {{ fridge.capacity }} L</p>
    <p>Description: {{ fridge.description }}</p>

    <h2>Images</h2>
    {% if images %}
        <div class="fridge-images">
            {% for image in images %}
                <div class="image-container">
                    <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="fridge-image">
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No images available for this fridge.</p>
    {% endif %}

    <a href="{% url 'update' slug=fridge.slug %}" class="btn btn-primary">Update Fridge Details</a>
    <a href="{% url 'delete' slug=fridge.slug %}" class="btn btn-primary">Delete Fridge Details</a>
{% endblock %}
